<aside class="admin-sidebar">
  <a class="admin-brand" href="/admin">
    <img src="/assets/img/logo-coronel.png" alt="CHC">
    <span>Admin CHC</span>
  </a>
  <nav class="admin-menu">
    <a href="/admin"><i class="fa-solid fa-chart-line"></i> Panel</a>
    <a href="/admin/extensions"><i class="fa-solid fa-phone"></i> Extensiones</a>
    <a href="/admin/locations"><i class="fa-solid fa-location-dot"></i> Ubicaciones</a>
    <a href="/directorio" target="_blank"><i class="fa-solid fa-up-right-from-square"></i> Ver directorio</a>
    <a href="/ubicaciones" target="_blank"><i class="fa-solid fa-map-location-dot"></i> Ver ubicaciones</a>
    <a href="/admin/security"><i class="fa-solid fa-key"></i> Contraseña</a>
  </nav>
  <form method="post" action="/admin/logout" class="logout-form">
    <button type="submit"><i class="fa-solid fa-right-from-bracket"></i> Salir</button>
  </form>
</aside>
