<%- include('../partials/head', { title }) %>
<main class="public-shell compact-shell">
  <a class="back-link" href="/directorio"><i class="fa-solid fa-arrow-left"></i> Volver al directorio</a>
  <section class="simple-card">
    <h1><%= title %></h1>
    <p><%= message %></p>
  </section>
</main>
<%- include('../partials/footer') %>
